name: Example
on:
  workflow_dispatch:
  pull_request:
    paths: 
      - .github/workflows/example.yml
      - example/**/*
      - include/**/*
      - source/**/*
      - ARM.CMSIS-Compiler.pdsc
  push:
    branches: [main]
  
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  example:
    runs-on: ubuntu-24.04

    env:
      ARM_UBL_ACTIVATION_CODE: ${{ secrets.ARM_UBL_ACTIVATION_CODE }}

    steps:
      - uses: actions/checkout@v6
      
      - uses: actions/setup-python@v6
        with:
          python-version: '3.10'
          cache: 'pip'

      - name: Python requirements
        run: |
          pip install -r ./example/requirements.txt

      - name: Cache packs
        uses: actions/cache@v5
        with:
          key: packs-${{ github.run_id }}
          restore-keys: |
              packs-
          path: /home/runner/.cache/arm/packs

      - name: Install LLVM dependencies and tools
        working-directory: /home/runner
        run: |
          sudo apt-get update
          sudo apt-get install libtinfo6

      - name: Install tools
        uses: ARM-software/cmsis-actions/vcpkg@v1
        with:
          config: "./.ci/vcpkg-configuration.json"

      - name: Activate Arm tool license
        uses: ARM-software/cmsis-actions/armlm@v1
        with:
          code: "${{ env.ARM_UBL_ACTIVATION_CODE }}"

      - uses: ammaraskar/gcc-problem-matcher@master

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v4
        with:
          languages: cpp
          queries: security-and-quality

      - name: Build and run example
        working-directory: ./example
        run: |
          build_steps=(build)
          if [[ -n "${{ env.ARM_UBL_ACTIVATION_CODE }}" ]]; then
            build_steps+=(run)
          fi
          ./build.py --verbose -c AC6 -c GCC -c Clang clean ${build_steps[@]}

      - name: Perform CodeQL Analysis
        if: ${{ !cancelled() }}
        uses: github/codeql-action/analyze@v4
